body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #70757a;
  top: 90px;
  font-size: 34px;
  font-weight: 100px;
  line-height: 28px;
  margin: 0;
}

h2 {
  color: #70757a;
  font-size: 16px;
  font-weight: 100px;
  line-height: 28px;
  margin: 0 auto;
}

h3 {
  color: #70757a;
  font-size: 16px;
  margin: 0 auto;
}

.front-picture {
  padding-left: 1px;
  float: left;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: #70757a;
  font-size: 16px;
  font-weight: 100px;
  height: 19px;

  line-height: 1px;
  list-style: none;
}

.current {
  position: relative;
  top: -123px;
  border: 1px solid #70757a;
  border-radius: 4px;
  background-color: #a1b5be;
  color: #54565a;
}

.current:hover {
  position: relative;
  top: -123px;
  border: 1px solid #70757a;
  border-radius: 4px;
  background-color: #a7bcd3;
  color: #54565a;
}

.list2 {
  position: relative;
  top: -100px;
}

.list1 {
  position: relative;
  top: 25px;
}

.weather-app {
  background: #dfdfdf;
  border: 1px solid #70757a;
  transition: all ease-in-out 200ms;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 700px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 20px auto;
}

.temperature {
  color:#70757a; 
  font-size: 45px;
  font-weight: 300;
}

.units {
  position: relative;
  top: -21px;
}

.search {
  margin-bottom: 20px;
  border-radius: 4px;
}

.link-dev {
  position: relative;
  left: 100px;
  font-size: smaller;
}
